@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-50;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }

  .glass {
    @apply bg-white/80 backdrop-blur-md dark:bg-slate-950/80;
  }
}

@supports (selector(::-webkit-scrollbar)) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-100 dark:bg-slate-800;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-400 hover:bg-slate-500 dark:bg-slate-700 dark:hover:bg-slate-600;
  }
}
